@import '../globals.scss';


#logo {
    position: fixed;
    color: $header;
    z-index: 100;
    width: 100%;
    margin-top: 40px;
    align-items: center;


    .logo {
        grid-area: 1 / 1 / 2 / 6;
    }

    .link_1 {
        grid-area: 1 / 6 / 2 / 7;
    }

    .link_2 {
        grid-area: 1 / 9 / 2 / 10;
    }

    .link_3 {
        grid-area: 1 / 10 / 2 / 11;
    }

    .link_4 {
        grid-area: 1 / 11 / 2 / 12;
    }

    .menu {
        grid-area: 1 / 12 / 2 / 13;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 9px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 100;
    }

    .line {
        height: 2px;
        width: 32px;
        border-radius: 10px;
        transition: transform .5s ease, margin .5s ease;
    }

    .top {
        background: $header;
    }


    .bottom {
        background: $header;
    }

    .open {
        .top {
            transform: rotate(45deg) translateX(2.5px) translateY(2.5px);
        }

        .bottom {
            transform: rotate(-45deg) translateX(2.5px) translateY(-2.5px);
        }
    }

    .menu_container_link {
        position: absolute;
        padding: 40px;
        color: $header;
        text-transform: uppercase;
    }

    .menu_container {
        position: fixed;
        height: 100vh;
        width: 65vw;
        top: 0;
        right: 0;
        background: $quaternary;
        backdrop-filter: blur(3px) saturate(150%);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: opacity .75s ease, visibility .75s ease;

        .box_shadow {
            box-shadow: -40px 0px 80px rgba(0, 0, 0, 0.25);
            transition: transform .5s ease;
        }

        .translatedComponent_1 {
            position: absolute;
            transform: translateX(0%);
            z-index: 1;

            &:hover {
                transform: translateX(-5%);
            }
        }

        .translatedComponent_2 {
            position: absolute;
            transform: translateX(20%);
            z-index: 2;

            &:hover {
                transform: translateX(15%);
            }
        }

        .translatedComponent_3 {
            position: absolute;
            transform: translateX(40%);
            z-index: 3;

            &:hover {
                transform: translateX(35%);
            }
        }

        .translatedComponent_4 {
            position: absolute;
            transform: translateX(60%);
            z-index: 4;

            &:hover {
                transform: translateX(55%);
            }
        }

        .translatedComponent_5 {
            position: absolute;
            transform: translateX(80%);
            z-index: 5;

            &:hover {
                transform: translateX(75%);
            }
        }
    }

    .menu.open~.menu_container {
        opacity: 1;
        visibility: visible;
    }
}